<h1>Editing Fighter</h1>

<%= render 'form', fighter: @fighter %>

<%= link_to 'Show', @fighter, class: "btn btn-dark" %> |
<%= link_to 'Delete', @fighter, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %> |
<%= link_to 'Back', fighters_path, class: "btn btn-secondary" %>
